<script>
let exercises = ['jumping jacks', 'wall sits', 'push ups', 'sit ups', 'chair step ups', 'squats', 'chair dips', 'plank', 'high knees', 'lunge', 'push-up and rotate', 'side plank' ];
</script>

<div>
  <select>
    {#each exercises as exercise, i}
      <option>{exercise}</option>
    {/each}
  </select>
</div>

<style>

</style>
